@import "ember-bootstrap/bootstrap";

body {
  background-color: #F7FFF7;
  font-family: 'Poppins';
}

// ===============NAVBAR==================
.navbar {
  background-color: #FF6B6B;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 80px;

  .navbar-header {
    align-items: center;
    display: flex;
    min-height: 80px;
    justify-content: center;

    .navbar-toggle {
      &:active { background-color: transparent; }
      &:focus { background-color: transparent; }
    }

    .icon-bar {
      background-color: #FFE66D;
    }

    .navbar-brand {
      align-items: center;
      color: #E3F4F8;
      display: flex;
      justify-content: center;

      > .row {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }

  .navbar-collapse {
    .navbar-nav {
      align-items: center;
      display: flex;
      min-height: 80px;
      justify-content: center;

      .active > a {
        background-color: inherit;
        color: #FFE66D;
        font-weight: bold;
      }
    }
    .nav > li {
      width: 100%;

      &:hover {
        a {
          color: #FFE66D;
        }
      }
    }
  }
}

// ===============FOOTER==================
footer {
  background-color: #1A535C;
  color: #E3F4F8;
  height: 160px;
  padding: 30px;

  img {
    margin: 0 10px;
  }

  p {
    margin: 15px 0;
  }
}

// ===============SECTION: CONTACT-DETAILS==================
section#about,
section#contact-me {
  .content-header {
    font-size: 20px;
    margin: 50px 0;
  }

  .panel {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;

    .panel-heading {
      background-color: #FF6B6B;
      border: 0;
      border-radius: 6px;
      color: #E3F4F8;
      padding: 15px;
      font-size: 18px;
    }

    .panel-body {
      .content-row {
        background-color: rgba(78, 205, 196, 0.3);
        border: 0;
        border-radius: 6px;
        box-shadow: 2px 2px 5px #888888;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;

        &:hover {
          background-color: rgba(78, 205, 196, 0.8);
        }
      }
    }
  }
}

// ===============IMG CLASSES==================
.rounded {
  border-radius: 50%;
}

.button {
  height: 50px;
  width: 50px;
}

.large {
  margin: 30px 0;
  max-height: 300px;
}

.project-thumbnail {
  height: 100px;
  width: 100px;
}

.flex-center {
  min-height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

// ===============BTN CLASSES==================
.btn-custom {
  background-color: #FFE66D;
  box-shadow: 2px 2px 5px #888888;
}

// ===============FORM CLASSES==================

.true {
  color: green;
}

.validator-message {
  font-size: 10px;
  margin: 5px 0;
}

// ===============LABEL CLASSES==================
.tag-label {
  background-color: #1A535C;
}
