<section id='about'>

  <div class='container'>

    <div class='jumbotron'>
      <div class='text-left'>
        <h1>Write code.</h1>
        <h2>Love my wife.</h2>
        <h3>Ride my bicycle.</h3>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-8'>
        <div class='panel panel-default'>
          <div class='panel-heading text-center'>
            <strong>Find out what I've been up to</strong>
          </div>
          <div class='panel-body'>
            {{#each model as |project|}}
              {{#projects-partial item=project}}
              {{/projects-partial}}
            {{/each}}
          </div>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='panel panel-default'>
          <div class='panel-heading text-center'>
            <strong>Get in touch with me</strong>
          </div>
          <div class='panel-body'>
            <div class='row'>
              <a href='https://github.com/gohdaniel15/' target='_blank'>
                <div class='col-md-3 text-center'>
                  <img src='assets/images/github.svg' class='button'/>
                </div>
                <div class='col-md-9 text-center flex-center'>
                  <strong>My Github Page</strong>
                </div>
              </a>
            </div>
            <div class='row'>
              <a href='https://www.linkedin.com/in/danielgohky/' target='_blank'>
                <div class='col-md-3 text-center'>
                  <img src='assets/images/linkedin.svg' class='button'/>
                </div>
                <div class='col-md-9 text-center flex-center'>
                  <strong>My LinkedIn Page</strong>
                </div>
              </a>
            </div>
            <div class='row'>
              <a href='#'>
                <div class='col-md-3 text-center'>
                  <img src='assets/images/email.svg' class='button'/>
                </div>
                <div class='col-md-9 text-center flex-center'>
                  <strong>gohdaniel15@gmail.com</strong>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
