<footer>

  <div class='row'>

    <div class='col-xs-12'>

      <div class='text-center'>
        <img src='assets/images/wife.svg' class='button'/>
        <img src='assets/images/bicycle.svg' class='button'/>
        <img src='assets/images/code.svg' class='button'/>
      </div>

    </div>

  </div>

  <div class='row'>

    <div class='col-xs-12'>

      <div class='text-center'>
        <p>
          Developed with Rails and Ember.js
        </p>
      </div>

    </div>

  </div>

</footer>
