<div class='panel panel-default'>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-sm-4'>
        <!-- project thumbnail goes here. Use .project-thumnail css class -->
      </div>
      <div class='col-sm-8'>
        <h6>
          {{item.title}}
        </h6>
        <p>
          {{item.description}}
        </p>
      </div>
    </div>
  </div>
</div>
