<div class='row activity'>
  <div class='col-sm-4 text-center'>
    {{#each item.project_images as |image|}}
      <img src='{{image.filepicker_url}}' class='project-thumbnail rounded'/>
    {{/each}}
  </div>
  <div class='col-sm-8'>
    <h5>
      <strong>{{item.title}}</strong>
    </h5>
    <p>
      {{item.description}}
    </p>
  </div>
</div>
